<ul>
  {{#each model as |author|}}
    <li>{{author.firstName}} {{author.lastName}}: {{author.email}}</li>
    <ul>
      {{#each author.articles as |article|}}
        <li>{{article.body}}</li>
      {{/each}}
    </ul>
  {{/each}}
</ul>


{{outlet}}
